.talk {
  max-width: 80%;
  min-width: 400px;
  box-shadow: #efefef 4px 4px 3px;
  border-radius: 15px;
  padding: 10px;
  position: relative;
}

.mine:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00b0ff;
  border-right: 15px solid transparent;
  border-top: 15px solid #00b0ff;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

.other:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #e6e6e6;
  border-top: 15px solid #e6e6e6;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.form__field {
  width: 90%;
  height: 100%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}
